<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>01</key>
	<dict>
		<key>detail</key>
		<string>&quot;Away From Keyboard&quot;の略語。</string>
		<key>question</key>
		<string>AFK</string>
		<key>answer</key>
		<string>ちょっと席を外します</string>
	</dict>
	<key>02</key>
	<dict>
		<key>detail</key>
		<string>&quot;Age Sex Location&quot;の略語。チャットなどでまず聞かれる内容。ちなみに、&quot;ASLP&quot;だと、&quot;Age Sex Location Picture&quot;の略。</string>
		<key>question</key>
		<string>ASL</string>
		<key>answer</key>
		<string>年齢・性別・住所</string>
	</dict>
	<key>03</key>
	<dict>
		<key>detail</key>
		<string>&quot;Absence Without Leave&quot;の略語。もともとは軍隊用語。</string>
		<key>question</key>
		<string>AWOL</string>
		<key>answer</key>
		<string>無断欠勤</string>
	</dict>
	<key>04</key>
	<dict>
		<key>detail</key>
		<string>&quot;Before&quot;の略語。</string>
		<key>question</key>
		<string>B4</string>
		<key>answer</key>
		<string>～の前に</string>
	</dict>
	<key>05</key>
	<dict>
		<key>detail</key>
		<string>&quot;because&quot;の略語。</string>
		<key>question</key>
		<string>b/c </string>
		<key>answer</key>
		<string>なぜなら</string>
	</dict>
	<key>06</key>
	<dict>
		<key>detail</key>
		<string>&quot;boy friend&quot;（カレシ）の略語</string>
		<key>question</key>
		<string>BF</string>
		<key>answer</key>
		<string>カレシ</string>
	</dict>
	<key>07</key>
	<dict>
		<key>detail</key>
		<string>&quot;Best Friend Forever&quot;（生涯の親友）の略語。</string>
		<key>question</key>
		<string>BFF</string>
		<key>answer</key>
		<string>ベストフレンド</string>
	</dict>
	<key>08</key>
	<dict>
		<key>detail</key>
		<string>&quot;Bye For Now&quot;の略語。</string>
		<key>question</key>
		<string>BFN</string>
		<key>answer</key>
		<string>またね！</string>
	</dict>
	<key>09</key>
	<dict>
		<key>detail</key>
		<string>&quot;Best Regards&quot;の略語。文の最後に使う表現。</string>
		<key>question</key>
		<string>BR</string>
		<key>answer</key>
		<string>よろしく</string>
	</dict>
	<key>10</key>
	<dict>
		<key>detail</key>
		<string>&quot;Be Right Back&quot;の略語。</string>
		<key>question</key>
		<string>BRB</string>
		<key>answer</key>
		<string>すぐ戻るよ</string>
	</dict>
	<key>11</key>
	<dict>
		<key>detail</key>
		<string>&quot;BullShit&quot;の略語。</string>
		<key>question</key>
		<string>BS</string>
		<key>answer</key>
		<string>でたらめ</string>
	</dict>
	<key>12</key>
	<dict>
		<key>detail</key>
		<string>&quot;By The Way&quot;の略語。</string>
		<key>question</key>
		<string>BTW</string>
		<key>answer</key>
		<string>ところで</string>
	</dict>
	<key>13</key>
	<dict>
		<key>detail</key>
		<string>&quot;Bring Your Own Bottle&quot;の略語。</string>
		<key>question</key>
		<string>BYOB</string>
		<key>answer</key>
		<string>酒類持ち込み可能</string>
	</dict>
	<key>14</key>
	<dict>
		<key>detail</key>
		<string>Die In A Fireの略語。</string>
		<key>question</key>
		<string>DIAF </string>
		<key>answer</key>
		<string>地獄へ堕ちろ</string>
	</dict>
	<key>15</key>
	<dict>
		<key>detail</key>
		<string>&quot;Do It Yourself&quot;の略。ここでは日曜大工のDIYと違う意味で使っています。</string>
		<key>question</key>
		<string>DIY</string>
		<key>answer</key>
		<string>自分でやれ！</string>
	</dict>
	<key>16</key>
	<dict>
		<key>detail</key>
		<string>&quot;Direct Message&quot;の略語。</string>
		<key>question</key>
		<string>DM</string>
		<key>answer</key>
		<string>ダイレクトメッセージ</string>
	</dict>
	<key>17</key>
	<dict>
		<key>detail</key>
		<string>&quot;don&apos;t know&quot;の略語。</string>
		<key>question</key>
		<string>DUNNO</string>
		<key>answer</key>
		<string>知らない</string>
	</dict>
	<key>18</key>
	<dict>
		<key>detail</key>
		<string>&quot;fabulous&quot;の略語。</string>
		<key>question</key>
		<string>FAB</string>
		<key>answer</key>
		<string>素敵な</string>
	</dict>
	<key>19</key>
	<dict>
		<key>detail</key>
		<string>&quot;Fuck My Life&quot;の略語。物事が自分の思い通りに行かなかった時に使う。</string>
		<key>question</key>
		<string>FML</string>
		<key>answer</key>
		<string>まじ最悪</string>
	</dict>
	<key>20</key>
	<dict>
		<key>detail</key>
		<string>&quot;For The Win&quot;の略語。</string>
		<key>question</key>
		<string>FWD</string>
		<key>answer</key>
		<string> 転送する</string>
	</dict>
	<key>21</key>
	<dict>
		<key>detail</key>
		<string>&quot;For Your Information&quot;の略語。</string>
		<key>question</key>
		<string>FYI</string>
		<key>answer</key>
		<string>参考までに</string>
	</dict>
	<key>22</key>
	<dict>
		<key>detail</key>
		<string>&quot;girl friend&quot;（ガールフレンド）の略語。</string>
		<key>question</key>
		<string>GF</string>
		<key>answer</key>
		<string>彼女</string>
	</dict>
	<key>23</key>
	<dict>
		<key>detail</key>
		<string>&quot;Get The Fuck Out&quot;の略。</string>
		<key>question</key>
		<string>GTFO</string>
		<key>answer</key>
		<string>消え失せろ</string>
	</dict>
	<key>24</key>
	<dict>
		<key>detail</key>
		<string>&quot;Got To Go&quot;の略語。g2gも同じ意味。</string>
		<key>question</key>
		<string>GTG</string>
		<key>answer</key>
		<string>もう行くね</string>
	</dict>
	<key>25</key>
	<dict>
		<key>detail</key>
		<string>&quot;Hit me up!の略語。ツイッター超頻出略語のひとつ。</string>
		<key>question</key>
		<string>HMN</string>
		<key>answer</key>
		<string>連絡ちょうだい</string>
	</dict>
	<key>26</key>
	<dict>
		<key>detail</key>
		<string>&quot;honey&quot;の略語。</string>
		<key>question</key>
		<string>HUN</string>
		<key>answer</key>
		<string>ハニー</string>
	</dict>
	<key>27</key>
	<dict>
		<key>detail</key>
		<string>&quot;I see.&quot;の略語。</string>
		<key>question</key>
		<string>IC</string>
		<key>answer</key>
		<string>なるほど</string>
	</dict>
	<key>28</key>
	<dict>
		<key>detail</key>
		<string>&quot;I Don&apos;t Know.&quot;の略語。</string>
		<key>question</key>
		<string>IDK</string>
		<key>answer</key>
		<string>分からない</string>
	</dict>
	<key>29</key>
	<dict>
		<key>detail</key>
		<string>&quot;I Love U So Much&quot;の略語。</string>
		<key>question</key>
		<string>ILUSM</string>
		<key>answer</key>
		<string>あなたのことが大好き</string>
	</dict>
	<key>30</key>
	<dict>
		<key>detail</key>
		<string>&quot;Instant Message&quot;の略語。</string>
		<key>question</key>
		<string>IRL</string>
		<key>answer</key>
		<string>現実の世界では</string>
	</dict>
</dict>
</plist>
