<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>01</key>
	<dict>
		<key>answer</key>
		<string>絶対に</string>
	</dict>
	<key>02</key>
	<dict>
		<key>answer</key>
		<string>ここに</string>
	</dict>
	<key>03</key>
	<dict>
		<key>answer</key>
		<string>わかるよ</string>
	</dict>
	<key>04</key>
	<dict>
		<key>answer</key>
		<string>素敵</string>
	</dict>
	<key>05</key>
	<dict>
		<key>answer</key>
		<string>いつかね</string>
	</dict>
	<key>06</key>
	<dict>
		<key>answer</key>
		<string>もしかして</string>
	</dict>
	<key>07</key>
	<dict>
		<key>answer</key>
		<string>かゆい！</string>
	</dict>
	<key>08</key>
	<dict>
		<key>answer</key>
		<string>ごめんなさい</string>
	</dict>
	<key>09</key>
	<dict>
		<key>answer</key>
		<string>イライラする</string>
	</dict>
	<key>10</key>
	<dict>
		<key>answer</key>
		<string>また明日</string>
	</dict>
	<key>11</key>
	<dict>
		<key>answer</key>
		<string>じゃーね</string>
	</dict>
	<key>12</key>
	<dict>
		<key>answer</key>
		<string>さようなら</string>
	</dict>
	<key>13</key>
	<dict>
		<key>answer</key>
		<string>こんばんは</string>
	</dict>
	<key>14</key>
	<dict>
		<key>answer</key>
		<string>こんにちは</string>
	</dict>
	<key>15</key>
	<dict>
		<key>answer</key>
		<string>おはよう</string>
	</dict>
</dict>
</plist>
