<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>02</key>
	<dict>
		<key>detail</key>
		<string></string>
		<key>question</key>
		<string>Significant other</string>
		<key>answer</key>
		<string>配偶者・恋人</string>
	</dict>
	<key>01</key>
	<dict>
		<key>detail</key>
		<string>恋人のことを親しみを込めてbabyやbabeなどと呼ぶ人がいるが、それの進化版がbae
かなり多用されていて、恋人だけでなく友人間でも使われる。
ちなみに、”bae”はデンマーク語で「ウンチ」を意味する。</string>
		<key>question</key>
		<string>Bae</string>
		<key>answer</key>
		<string>ベイビー/ハニー</string>
	</dict>
</dict>
</plist>
