<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Grape</key>
	<dict>
		<key>answer</key>
		<string>ぶどう</string>
	</dict>
	<key>Banana</key>
	<dict>
		<key>answer</key>
		<string>バナナ</string>
	</dict>
	<key>Orange</key>
	<dict>
		<key>answer</key>
		<string>みかん</string>
	</dict>
	<key>Apple</key>
	<dict>
		<key>answer</key>
		<string>りんご</string>
	</dict>
</dict>
</plist>
